requests
numpy==1.26.4
scipy
matplotlib
scikit-learn
torch==1.13.1
torchvision==0.14.1
ipywidgets
tqdm
torchvision
pathlib
xkcd
decorator==4.0.2
pyvirtualdisplay
tensorboard
moviepy==1.0.3
imageio_ffmpeg
